<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Dear {{full_name}},
    <br/>
    <br/>
    This is the second confirmation where your booking request for a session with {{name}} on {{date}} at {{time}} for {{hour}} hour(s) and {{mins}} minutes has been accepted.
    I look forward to seeing you then.
    <br/>
    <br/>
    Kind regards,
    <br/>
    Josh Henry
    <br/>
    <br/>
    68Duck Tutoring
    <br/>
    Website: www.68duck.co.uk
    <br/>
    Email: Josh@68duck.co.uk
    <br/>
    Phone: 07470 362230
  </body>
</html>
