<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="message">
      Dear {{name}},
      <br/>
      <br/>
      Here is the link for accessing your account for booking a session with on 68duck.co.uk.
      Please do not share this with anyone you don't want booking sessions as this link with give
      full access to your account:
      <br/>
      <br/>
      {{link}}
      <br/>
      <br/>
      Kind regards,
      <br/>
      Josh Henry
      <br/>
      <br/>
      68Duck Tutoring
      <br/>
      Website: www.68duck.co.uk
      <br/>
      Email: Josh@68duck.co.uk
      <br/>
      Phone: 07470 362230
    </div>
  </body>
</html>
