<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Dear {{full_name}},
    <br/>
    <br/>
    Here is a confirmation of your booking request for a session with {{name}} on {{words_date}} at {{time}} for {{hour}} hour(s) and {{mins}} minutes.
    A second confirmation email will follow when I confirm that I can make the time and approve the booking.
    If you would like to cancel or change this request, please contact me on Josh@68duck.co.uk.
    <br/>
    <br/>
    Kind regards,
    <br/>
    Josh Henry
    <br/>
    <br/>
    68Duck Tutoring
    <br/>
    Website: www.68duck.co.uk
    <br/>
    Email: Josh@68duck.co.uk
    <br/>
    Phone: 07470 362230
  </body>
</html>
