<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="message">
      Dear {{name}},
      <br/>
      <br/>
      Please find attached the invoice from your past tutoring sessions.
      <br/>
      <br/>
      Kind regards,
      <br/>
      Josh Henry
      <br/>
      <br/>
      68Duck Tutoring
      <br/>
      Website: www.68duck.co.uk
      <br/>
      Email: Josh@68duck.co.uk
      <br/>
      Phone: 07470 362230
    </div>
  </body>
</html>
